<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<br><br>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="first_name">Enter First name:  </label>
    <input type="text" th:field="*{firstName}" id="first_name" placeholder="first name"/>
    <br/>
    <label for="last_name">Enter Last name:  </label>
    <input type="text" th:field="*{lastName}" id="last_name" placeholder="last name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" placeholder="email"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" name="pass" id="password" placeholder="password"/>
    <br/>
    <label for="roles">Сhoose roles: </label>
    <br/>
    <select name="rolesList" id="roles" size="2" multiple>
        <p th:each="userRole: ${roles}">
            <option th:value="${userRole.role}" th:text="${#strings.substringAfter(userRole.getRole(), 'ROLE_')}">role</option>
        </p>
    </select>
    <br/>
    <input type="submit" value="Create">
</form>
</body>
</html>